In [45]:
import pandas as pd

In [46]:
school_data_to_load = "../Resources/schools_complete.csv"
student_data_to_load = "../Resources/students_complete.csv"

school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [47]:
dis_school_total=len(school_data_complete["school_name"].unique())
dis_students_total=school_data["size"].sum()
dis_budget_total=school_data["budget"].sum()

dis_math_average=student_data["math_score"].mean()
dis_reading_average=student_data["reading_score"].mean()

dis_passing_math=student_data.loc[student_data["math_score"]>=70]["student_name"].count()
dis_percent_passing_math=dis_passing_math/dis_students_total

dis_passing_reading=student_data.loc[student_data["reading_score"]>=70]["student_name"].count()
dis_percent_passing_reading=dis_passing_reading/dis_students_total

dis_passing_overall=(dis_percent_passing_math+dis_percent_passing_reading)/2

dis_summary=pd.DataFrame({"Total Schools": [dis_school_total],
                          "Total Students": [dis_students_total],
                          "Total Budget": [dis_budget_total],
                          "Average Math Score": [dis_math_average],
                          "Average Reading Score": [dis_reading_average],
                          "% Passing Math": [dis_percent_passing_math],
                          "% Passing Reading": [dis_percent_passing_reading],
                          "Overall Passing Rate": [dis_passing_overall]
                         })
dis_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,0.749809,0.858055,0.803932

In [49]:
by_school=school_data_complete.set_index("school_name").groupby(["school_name"])
school_type=school_data.set_index("school_name")["type"]

total_students=by_school["Student ID"].count()
total_budget=school_data.set_index("school_name")["budget"]
per_student_budget=total_budget/school_data.set_index("school_name")["size"]

math_average=by_school["math_score"].mean()
reading_average=by_school["reading_score"].mean()

passing_math=school_data_complete[school_data_complete["math_score"] >= 70].groupby("school_name")["Student ID"].count()
percent_passing_math=passing_math/total_students

passing_reading=school_data_complete[school_data_complete["reading_score"] >= 70].groupby("school_name")["Student ID"].count()
percent_passing_reading=passing_reading/total_students

overall_passing=(percent_passing_math+percent_passing_reading)/2

school_summary=pd.DataFrame({"School Type": school_type,
                             "Total Students": total_students,
                             "Total School Budget": total_budget,
                             "Per Student Budget": per_student_budget,
                             "Average Math Score": math_average,
                             "Average Reading Score": reading_average,
                             "% Passing Math": percent_passing_math,
                             "% Passing Reading": percent_passing_reading,
                             "Overall Passing Rate": overall_passing
                            })

school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,0.666801,0.819333,0.743067
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,0.941335,0.970398,0.955867
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,0.659885,0.807392,0.733639
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,0.683096,0.792990,0.738043
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,0.933924,0.971390,0.952657
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,0.667530,0.808630,0.738080
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,0.925059,0.962529,0.943794
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,0.656839,0.813164,0.735002
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,0.660576,0.812224,0.736400
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,0.945946,0.959459,0.952703
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,0.663666,0.802201,0.732933
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,0.938671,0.958546,0.948609
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,0.932722,0.973089,0.952905
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,0.938677,0.965396,0.952037
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,0.933333,0.966111,0.949722

In [50]:
top_schools=school_summary.sort_values("Overall Passing Rate", ascending=False)
top_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,0.941335,0.970398,0.955867
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,0.932722,0.973089,0.952905
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,0.945946,0.959459,0.952703
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,0.933924,0.971390,0.952657
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,0.938677,0.965396,0.952037

In [51]:
bottom_schools=school_summary.sort_values("Overall Passing Rate", ascending=True)
bottom_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,0.663666,0.802201,0.732933
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,0.659885,0.807392,0.733639
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,0.656839,0.813164,0.735002
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,0.660576,0.812224,0.736400
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,0.683096,0.792990,0.738043